<h1><%= I18n.t('app.registration_of_participants') %></h1>

<%= simple_nested_form_for @claim, :url => I18n.locale == :ru ? '/ru/registratsiya' : '/en/registration' do |f| %>

  <%= f.input :surname %>
  <%= f.input :name %>
  <%= f.input :patronymic %>
  <%= f.input :gender %>

  <%= f.input :email %>
  <%= f.input :birthdate, :as => :datepicker %>
  <%= f.input :contact_phone %>

  <%= f.input :organization_title %>
  <%= f.input :organization_abbr %>

  <%= f.input :postcode %>
  <%= f.input :country, :priority => Claim.priority_countries, :include_blank => true %>
  <%= f.input :locality %>

  <%= f.input :academic_degree, :include_blank => false %>
  <%= f.input :academic_status, :include_blank => false %>

  <%= f.input :post %>
  <%= f.input :work_phone %>

  <fieldset>
    <legend><%= I18n.t('app.report.title') %></legend>
    <%= simple_fields_for :reports do |report| %>
      <%= report.input :title %>
      <%= report.input :authors, :as => :text %>
      <%= report.input :kind %>
      <%= report.input :section %>
      <%= report.input :annotation, :placeholder => I18n.t('app.annotation.limit'), :input_html => { :maxlength => 300 } %>
      <%= report.input :attachment   %>
    <% end %>
  </fieldset>

  <%= f.fields_for :reports do |report| %>
    <fieldset>
      <legend><%= I18n.t('app.report.title') %></legend>
      <%= report.link_to_remove I18n.t('app.report.remove'), :class => :floatr %>
      <%= report.input :title %>
      <%= report.input :authors, :as => :text %>
      <%= report.input :kind %>
      <%= report.input :section %>
      <%= report.input :annotation, :placeholder => I18n.t('app.annotation.limit'), :input_html => { :maxlength => 300 } %>
      <%= report.input :attachment, :hint => I18n.t('app.attachment.hint') %>
    </fieldset>
  <% end %>
  <%= f.link_to_add I18n.t('app.report.add'), :reports %>

  <div class='actions'>
    <%= f.submit %>
  </div>
<% end %>
