<h1>Listing reports</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Authors</th>
      <th>Kind</th>
      <th>Section</th>
      <th>Annotation</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <td><%= report.title %></td>
        <td><%= report.authors %></td>
        <td><%= report.kind %></td>
        <td><%= report.section %></td>
        <td><%= report.annotation %></td>
        <td><%= link_to 'Show', report %></td>
        <td><%= link_to 'Edit', edit_report_path(report) %></td>
        <td><%= link_to 'Destroy', report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Report', new_report_path %>
