<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @report.title %>
</p>

<p>
  <strong>Authors:</strong>
  <%= @report.authors %>
</p>

<p>
  <strong>Kind:</strong>
  <%= @report.kind %>
</p>

<p>
  <strong>Section:</strong>
  <%= @report.section %>
</p>

<p>
  <strong>Annotation:</strong>
  <%= @report.annotation %>
</p>

<%= link_to 'Edit', edit_report_path(@report) %> |
<%= link_to 'Back', reports_path %>
