<!DOCTYPE HTML>
<html lang='ru'>
  <head>
    <meta charset='utf-8'>
    <title><%= content_for?(:page_title) ? yield(:page_title).squish.html_safe : "#{@page_title} – #{strip_tags(@site_name.content.body)}".squish %></title>
    <%= favicon_link_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <!--[if lt IE 9]>
    <%= javascript_include_tag 'html5.js' %>
    <%= javascript_include_tag 'respond.js' %>
    <![endif]-->
    <!--[if lte IE 7]>
    <%= stylesheet_link_tag    'stop_ie/application' %>
    <%= javascript_include_tag 'stop_ie/application' %>
    <![endif]-->
    <%= csrf_meta_tags %>
    <%= meta_tags %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
