<!DOCTYPE HTML>
<html lang='<%= I18n.locale %>'>
  <head>
    <meta charset='utf-8'>
    <title><%= content_for?(:page_title) ? yield(:page_title).squish.html_safe : "#{@page_title} – #{strip_tags(@site_name.content.body)}".squish %></title>
    <%= favicon_link_tag %>
    <%= canonical_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <!--[if lt IE 9]>
    <%= javascript_include_tag 'html5.js' %>
    <%= javascript_include_tag 'respond.js' %>
    <![endif]-->
    <!--[if lte IE 7]>
    <%= stylesheet_link_tag    'stop_ie/application' %>
    <%= javascript_include_tag 'stop_ie/application' %>
    <![endif]-->
    <%= csrf_meta_tags %>
    <%= meta_tags %>
  </head>
  <body data-locale='<%= I18n.locale %>'>
    <div class='container'>
      <div class='logotype <%= I18n.locale %>'>
        <div class="auth_block">
          <% if current_user %>
            <%= current_user %> |
            <%= link_to 'Выход', "#{Settings['profile.sign_out_url']}?redirect_url=#{root_url}", :method => :delete %>
          <% else %>
            <%= link_to 'Вход', sign_in_url %>
          <% end %>
        </div>
        <p class='abbr'><%= t('app.abbr') %></p>
        <p class='year'><%= t('app.year') %></p>
        <p class='title'>
          <%= strip_tags(@site_name.content.body).squish.as_html %><br />
          <%= t('app.place') %><br />
          <%= t('app.schedule') %>
        </p>
        <%= link_to strip_tags(@site_name.content.body).squish, I18n.locale == 'ru' ? root_path : "/#{I18n.locale}", :class => :overlay %>
      </div>
      <div class='content_wrapper'>
        <div class='side'>
          <% if @main_navigation.present? %>
            <div class='menu'>
              <%= render_partial_for_region(@main_navigation, 'main') %>
              <%= render_navigation %>
            </div>
          <% end %>
          <% if @banners.present? %>
            <div class='banners'>
              <%= render_partial_for_region(@banners) %>
            </div>
          <% end %>
        </div>
        <div class='content'>
          <ul class='languages'>
            <% I18n.available_locales.each do |lang| %>
              <% klass = [lang] %>
              <% klass << ['selected'] if I18n.locale.eql?(lang) %>
              <% klass = klass.join(' ') %>
              <li>
                <% if lang == :ru %>
                  <%= link_to lang, root_path, :class => klass, :title => I18n.t("lang.#{lang}") %>
                <% else %>
                  <%= link_to lang, "/#{lang}", :class => klass, :title => I18n.t("lang.#{lang}") %>
                <% end %>
              </li>
            <% end %>
          </ul>
          <%= yield %>
        </div>
      </div>
      <div class='footer'>
        <p><%= t('app.copyright.pnms') %></p>
        <p><%= t('app.copyright.tusur') %></p>
        <% if Rails.env.development? %>
          <div class='development'>
            <%= link_to 'JSON from CMS', @link_to_json, :target => '_blank' %>
          </div>
        <% end %>
      </div>
    </div>
    <%= render 'yandex_metrika' if Rails.env.production? %>
  </body>
</html>
